:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', Helvetica, arial, sans-serif;
}

h1 {
  color: #484848;
}

a {
  text-decoration: none;
  color: #484848;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
/*  justify-content: space-between;*/
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  align-items: center;
/*  background-color: pink;*/
/*  height: 100%;*/
}

.main-nav__logo {
  height: 10%;
  width: 6%;
  cursor: pointer;
  mix-blend-mode: multiply;
}

.main-nav__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-nav__link {
  margin-right: 2rem;
  font-size: 0.875rem;
/*  font-weight: bold;*/
  padding: 0.25rem 0;
  border: 2px solid transparent;
}

.main-nav__link:hover {
  border-bottom: 2px solid #008489;
}

.main-nav__link:last-child {
  margin-right: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
}

.main-header__container {
  display: flex;
  flex-direction: column;
/*  justify-content: center;*/
  height: 100%;
  padding-left: 1.5em;
  padding-right: 1.5rem;
}

.main-header__title {
  width: 65%;
  font-weight: 100;
  color: #484848;
  font-size: 3rem;
  line-height: 56px;
  margin-bottom: 4rem;
}

.main-header__title span {
  color: #FF5A5F;
  font-weight: 700;
}

.main-header__form {
  display: flex;
  height: 100%;
}

.main-header__input-container {
  border: 0.5px solid lightgray;
  border-right: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
  flex: 2;
}

.main-header__input-container:nth-child(3) {
/*  border-right: 0px;*/
  flex: 1;
}

.main-header__input-container:nth-child(3) .main-header__label {
  margin-left: 0.3rem;
}

.main-header__label {
  font-size: 0.9375rem;
  color: #484848;
}

.main-header__input,
.main-header__select {
  border: 0;
  outline: 0;
  margin-top: 0.5rem;
  height: 100%;
  font-size: 1.1875rem;
  color: #767676;
}

.main-header__input[type="date"] {
/*  font-size: 1.25rem;*/
}

.main-header__input[placeholder] {
/*  font-size: 1.25rem;*/
}

.main-header__select {
  width: 60%;
}

.main-header__button-container {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  border-left: 0;
  padding: .75rem;
}

.main-header__button {
  background-color: #FF5A5F;
  font-size: 1.1875rem;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 4px;
}

.primary-section {
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.primary-section__link-container {
  display: flex;
  margin-bottom: 4rem;
}

.primary-section__tab {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 2rem;
  padding-bottom: 0.75rem;
}

.primary-section__tab--active {
  color: #008489;
  border-bottom: 2px solid #008489;
}

.primary-section__title-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.primary-section__icon {
  color: rgb(118, 118, 118);
  font-weight: 100;
  font-size: 2.5rem;
  position: absolute;
  right: -3%;
  bottom: 40%;
  cursor: pointer;
}

.primary-section__icon--centered {
  bottom: 50%;
}

.primary-section__title {
  font-size: 1.75rem;
}

.primary-section__link {
  font-size: 0.875rem;
  color: #484848;
  align-self: flex-end;
}

.primary-section__link i {
/*  font-size: 0.625rem;*/
  font-size: 1.125rem;
  color: #484848;
  margin-left: 0.375rem;
  align-self: flex-end;
}

.primary-section__posts-container {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
}

.post {
  display: flex;
  width: 20%;
  max-width: 100%;
  margin-right: 1.5%;
  height: 100%;
  cursor: pointer;
}

.post:last-of-type {
  margin-right: 0;
}

.post--wide {
  width: 33%;
}

.post--wide:last-of-type {
  margin-right: 0;  
}

.post__container {
  width: 100%;
  height: 100%;
}

.post__image-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.post__image {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.125rem;
}

.post__image--custom {
  height: 18.25rem;
}

.post__image-label,
.post__image-title {
  font-family: 'Neuton';
  position: absolute;
  left: 5%;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 100%;
}

.post__image-label {
  bottom: 30%;
  color: black;
  background-color: #fff;
  padding: 0.125rem 0.25rem;
  font-weight: 400;
  font-size: 0.9rem;
/*  border-radius: 0.25rem;*/
  border-radius: 4px;
}

.post__image-label--custom {
  bottom: 20%;
}

.post__image-title {
  bottom: 7.5%;
  font-size: 1.35rem;
}

.post__description {
  color: #484848;
/*  font-size: 0.75rem;*/
  font-size: 0.8375rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
}

.post__price,
.post__title,
.post__author {
  font-weight: bold;
  margin-right: 0.25rem;
  font-size: 0.9375rem;
}

.post__reviews {
  font-weight: 300;
  font-size: 0.75rem;
} 

.post__star {
  color: #008489;
/*  font-size: 1.1rem;*/
}

.post__star:last-child {
  margin-right: .25rem;
}

section {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.select__container {
  display: flex;
  flex-direction: column;
/*  width: 20%;*/
  flex-basis: 20%;
}

.main-select {
  padding: .5rem;
}

.main-select:last-child {
  margin-top: 1rem;
}

.section__nav {
  display: flex;
  flex-direction: column;
/*  padding: 0 3rem;*/
/*  flex: 1;*/
}

.section__title {
  color: #484848;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.section__link {
  color: #767676 ;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.section__link:last-child {
  margin-bottom: 0;
}

.section__link:hover {
  text-decoration: underline;
}

.main-footer {
  display: flex;
  height: 100%;
  padding: 2.5rem 1rem;
}

.main-footer__logo {
  height: 4%;
  width: 4%;
  max-width: 100%;
}

.main-footer__text {
  color: #767676;
  align-self: center;
  margin-right: 0.25rem;
  font-size: 0.935rem;
}

.main-footer__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.main-footer__link {
  color: #767676;
  font-size: 0.935rem;
  margin-right: 0.5rem;
  font-weight: 400;
}

.main-footer__link:hover {
  text-decoration: underline;
}

.main-footer__icon {
  color: #767676;
  font-size: 1.125rem;
}